.home .inner-width{
	display: inline-block;
	position: absolute;
	top: 20%;
	left: 10%;
	right: 10%;
	background-color: #cdc9c3;
}
.header h1{
	font-size: 30px;
	color: #fff;
	text-align: center;
	/*background-color: black;*/
}

.content table{
	justify-content: center;
	margin: 2% auto;
	margin-bottom: 4%;
}
.content th, td{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.option{
	position: absolute;
	left: 30%;
	bottom: 4%;
}
.option a{
	color: blue;
	font-size: 15px;
}