body{
	background: #98acf8;
	font-family: 'Open Sans', sans-serif;
}

.edit{
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
}

.edit-header,
.edit p{
	margin-top: 0;
	margin-bottom: 0;
}

.edit-header{
	background: #28d;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.edit-container{
	background: #ebebeb;
	padding: 12px;	
}

.edit .form-input{
	padding: 5px;
}
.form-input label{
	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
}

.edit input,
.edit button{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.edit input[type="submit"], 
.edit button[type="button"]{
	display: inline-block;
	margin-top: 10px;
	background: #fff;
	border-color: #bbb;
	color: #555;
}

.edit input[type="submit"]:focus {
	border-color: #888;
}

.edit input[type="submit"] {
	background: #28d;
	border-color: transparent;
	color: #fff;
	cursor: pointer;
}
.edit button[type="button"]{
	cursor: pointer;
}

.edit input[type="submit"]:hover {
	background: #17c;
}

.edit input[type="submit"]:focus {
	border-color: #05a;
}